name: Run script
on:
  schedule:
    - cron: "0 9 * * 6"
  
jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run script
        run: python your_script.py


# https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax workflow documentation
# https://dylanbritz.dev/writing/scheduled-cron-jobs-github/ #Run script code
